<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hfad.juisinyourpocket">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SignUpActivity"
            android:parentActivityName=".LoginActivity"/>
        <activity android:name=".MainActivity" />
        <activity android:name=".BusScheduleActivity"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".RickshawVaraActivity"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".StudentScheduleActivity" />
        <activity android:name=".TeacherScheduleActivity" />
        <activity android:name=".FoodsActivity"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".OrganizationsActivity"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".PlacesActivity"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".InfoActivity"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".AdminAndOfficeActivity"
            android:parentActivityName=".InfoActivity"/>
        <activity android:name=".FacultiesActivity"
            android:parentActivityName=".InfoActivity"/>
        <activity android:name=".AccommodationActivity"
            android:parentActivityName=".InfoActivity"/>
        <activity android:name=".ContactActivity"
            android:parentActivityName=".InfoActivity"/>
        <activity android:name=".AboutActivity"
            android:parentActivityName=".MainActivity"></activity>
    </application>

</manifest>